extends layout

block styles
  link(rel='stylesheet', href='/css/bootstrap.css')
  != css('glossary')
  link(rel='stylesheet', href='/css/bootstrap-responsive.css')

block scripts
  script(src='/js/jquery.js')
  script(src='/js/bootstrap-scrollspy.js')
  script(src='/js/bootstrap-collapse.js')
  script(src='/js/knockout.js')
  script(src='/js/knockout.mapping.js')
  != js('glossary')

block content
  body(style='display: none', data-spy='scroll', data-bind='visible: terms().length > 0')
    .navbar.navbar-fixed-top.navbar-inner.container-fluid
      a.btn.btn-navbar(data-target='.nav-collapse', data-toggle='collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='#') #{title}
      ul.nav.nav-collapse(data-bind='visible: letters().length > 0')
        li
          a(href='#', data-bind='click: create') Create a term
        // ko foreach: letters
        li
          a(data-bind='text: letter, attr: { href: url, title: title }')
        // /ko

    .container(data-bind='foreach: terms')
      section(data-bind='attr: { id: title }')
        .well(data-bind='css: { blocked: isBlocked(), editing: editing() }')
          div(data-bind='visible: !editing()')
            small(data-bind='text: updated')
            button(class='btn', type='button', data-bind='click: $parent.delete, visible: !isBlocked()') Delete
          h2(data-bind='text: title, visible: !editingTitle(), click: editTitle')
          input(data-bind='value: title, valueUpdate: "afterkeydown", visible: editingTitle(), hasfocus: editingTitle')
          p(data-bind='html: definition, visible: !editingDefinition(), click: editDefinition')
          textarea(data-bind='value: definition, valueUpdate: "afterkeydown", visible: editingDefinition(), hasfocus: editingDefinition')

