extends layout

block styles
  != css('glossary')

block scripts
  script(src='/js/jquery.js')
  script(src='/js/knockout.js')
  script(src='/js/knockout.mapping.js')
  != js('glossary')

block content
  #page.container(style='display: none')

    header.span-24.last
      h1 #{title}
      button(type='button', data-bind='click: create') Create a term

    .span-4 &nbsp;

    nav.span-1
      ul(data-bind='foreach: letters, visible: letters().length > 0')
        li
          a(data-bind='text: letter, attr: { href: url, title: title }')

    #content.span-15.last
      dl(data-bind='foreach: terms, visible: terms().length > 0')
        dt(data-bind='attr: { id: title }, css: { blocked: isBlocked(), editing: editing() }')
          h2(data-bind='text: title, visible: !editingTitle(), click: editTitle')
          input(data-bind='value: title, valueUpdate: "afterkeydown", visible: editingTitle(), hasfocus: editingTitle')
          div(data-bind='visible: !editing()')
            button(type='button', data-bind='click: $parent.delete, visible: !isBlocked()') Delete
            span(data-bind='text: updated')
        dd(data-bind='css: { blocked: isBlocked(), editing: editing() }')
          p(data-bind='html: definition, visible: !editingDefinition(), click: editDefinition')
          textarea(data-bind='value: definition, valueUpdate: "afterkeydown", visible: editingDefinition(), hasfocus: editingDefinition')
        hr
