@import 'nib'

font-size = 14px
font-type = Arial, sans-serif

body
  font font-size font-type

.container
  margin-top 2em

header
footer
  background-color #A9D0F5

nav
#detail
  background-color #A9F5BC

#content
  background-color #F7F8E0
