section
  padding-top 50px
  max-width 950px

section > div > div
  float right
  text-align right
  width 30%

section > div > div > button
  margin-left .5em

section > div > input
  font-size 24px
  font-weight bold
  height 36px
  line-height 36px
  width 70%

section > div > textarea
  height 5em
  width 90%

.blocked
  background-color #F2DEDE

.editing
  background-color #D9EDF7
